<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <!-- Rule for Reverse Proxy to API -->
        <rule name="Reverse Proxy to api" stopProcessing="true">
          <match url="^https://www.britfintechawards.com/prod(.*)" />
          <action type="Rewrite" url="https://api.example.com/{R:1}" />
        </rule>

        <!-- Rule for Reverse Proxy to Pusher -->
        <rule name="Reverse Proxy to pusher" stopProcessing="true">
          <match url="^prod/pusher/(.*)" />
          <action type="Rewrite" url="https://pusher.example.com/{R:1}" />
        </rule>

        <!-- Rule for backoffice/admin section -->
        <rule name="Backoffice Admin" stopProcessing="true">
          <match url="^prod/backoffice/(.*)" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="/backoffice/{R:1}" />
        </rule>

        <!-- Rule for main React application -->
        <rule name="React Routes" stopProcessing="true">
          <match url="^prod/(.*)" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="/{R:1}" />
        </rule>
      </rules>
    </rewrite>
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
</configuration>
